
<div class="container m-4">
  <div class="row">
    <h5>
      Forms
    </h5>
   
    <p>
      - Though,, Form is already provided by html. Angular gives some extra features like creating object of all the form fields, error-handling & validations.
      <br>
      - We can use Forms module using template driven approach ( code in html template ) or Reactive approach ( code in ts file ) .
      <br>
      - to use the ngModel we need to import Forms module. we need to give the 'name' to the fields which we're going to use in Form module.  
      <br>
      - As angular is SPA, we cannot add multiple Submit button in one page. So, ANgular manage this by providing us ngSubmit, ngForm. 
      <br>
      - This helps in reducing the work of backend developer.
      <br>
      - We can use patch value & setValue method to update the form objects in both template & reactive approach.
      <br>
      - Difference between Template Driven Approach & Reactive Approach is that We can use asynchronous validators in Reactive Form. Eg.Email validation if any email id is in existence. We can create our own custom validators, custom async validators etc. We can use array as well.
    </p>
  </div>
</div>

<p>para1</p>
<p red>para2</p>
<p>para3</p>
<p>para4</p>

<div class="container mt-4" >
  <div class="row">
    <div class="col-6">
      <app-reactive-form></app-reactive-form>
    </div>
    <div class="col-6">
      <h3>Template Driven Form </h3>
      <hr>
      <!-- <form #myForm1="ngForm" (ngSubmit)="onSubmit(myForm1.value)"> -->
      <form #myForm1="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text"
              placeholder="Full Name" 
              name="fname" 
              id="ifname" 
              ngModel
              #fname="ngModel"
              class="form-control">
          </div>
          <div class="form-group">
            <input type="email"
              placeholder="Email Name" 
              name="email" 
              id="iemail" 
              ngModel
              email
              #email="ngModel"
              class="form-control">
          </div>
          <span *ngIf="email.invalid && email.untouched">Enter a valid Email id</span>
          <div class="form-group">
            <input type="number"
              placeholder="Phone Name" 
              name="phone" 
              id="iphone" 
              ngModel
              #phone="ngModel"
              class="form-control">
          </div>
          <button type="submit" 
          class="btn btn-success"
          [disabled]="fname.untouched || email.untouched"
          >
          Register
          </button>
          <!-- <button type="submit" 
          class="btn btn-success"
          (click)="onSubmit(myForm1)"
          >
          Register
          </button> -->
      </form>
    </div>
  </div>
  <hr><hr>
  <div class="row">
    <div class="col-12">
      <h3 class="text-warning">Practice Form</h3>
      <hr>
      <app-practice></app-practice>
    </div>
  </div>
</div>

<hr>

<app-http></app-http>